body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
    
  .titulo-llamativo {
    text-align: center;
    padding: 70px 20px; /* Ajusta el relleno según sea necesario */
    color: #585252; /* Color de texto para el título */
    background-color: #f1d2d2; /* Color de fondo para el título */
  }
  .titulo-llamativo h1{
    font-size: 50px;
  }